#root {
  height: 100%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  padding: 1em;
  border-style: solid;
  border-width: 4px;
  border-color: #089dff;
}

.loading_website {
  text-align: center;
}

.loading_img {
  width: 10%;
  float: left;
  padding: 0px 20px 0px 20px;
}

/*** Basic styles ***/

html,
body {
  margin: 0;
  height: 100%;

  --card-width: 240px;
  --card-height: 340px;
}

body {
  background-color: #fafafa;
  font-family: 'Helvetica', 'Arial';
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
}

label {
  cursor: pointer;
}

textarea {
  height: 16.5px;
  /* same as input[type=text] */
  vertical-align: top;
}

time {
  color: #999;
}

/** Fieldsets and forms **/

.fieldset {
  background-color: #eaeaea;
  border-radius: 3px;
  border: solid #ccc 1px;
  line-height: 20px;
  padding: 10px;
}

.legend {
  background-color: #FFFFFF;
  border: solid #ccc 1px;
  box-shadow: 0 1px 1px 0 #ccc;
  color: #089dff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 5px;
}

input[type=button],
.uploadFile,
input[type=button],
button,
input[type=text],
textarea,
select {
  font-size: 16px;
  line-height: 16px;
  padding: 3px;
}

input[type=button],
.uploadFile,
button,
input[type=text],
textarea {
  border: solid #d0d0d0 1px;
}

input[type=button],
.uploadFile,
button {
  background-color: #f0f0f0;
  padding: 5px;
}

input[type=button]:hover,
.uploadFile:hover,
button:hover,
input[type=text]:hover,
textarea:hover {
  border-color: #909090;
}

input[type=button]:active,
.uploadFile:active,
button:active {
  box-shadow: 0 0 1px 0 black inset;
}

input[type=button]:disabled,
.uploadFile:disabled,
button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

input[type=button]:disabled:hover,
.uploadFile:disabled:hover,
button:disabled:hover {
  border: solid #ccc 1px;
}

input[type=button]:disabled:active,
.uploadFile:disabled:active,
button:disabled:active {
  box-shadow: none;
}

label.radio-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-button-replacement {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #079DFF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-button-replacement:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-label input:checked ~ .radio-button-replacement:after {
  display: block;
}

.radio-label input:focus ~ .radio-button-replacement {
  box-shadow: 0 0px 0px 1px #6F686A, 0 0px 8px #079DFF;

  /* Since box shadows don't show up in high contrast mode,
   *          we're adding a transparent outline (which does show up). */
  outline: 2px dotted transparent;
}

/* Style the indicator (dot/circle) */
.radio-label .radio-button-replacement:after {
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #079DFF;
}

.number {
  width: 50px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
  margin-left: 2px;
}

/** Container of inputs that share a border. **/

.connected-container,
.connected-column {
  position: relative;
  z-index: 0;
}

.connected-component {
  position: relative;
  z-index: 1;
}

.connected-container .connected-component:not(:first-child) {
  margin-left: -1px;
}

.connected-column .connected-component:not(:first-child) {
  margin-top: -1px;
}

.connected-component:hover {
  z-index: 2;
}

/*** Main page components ***/

.container {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 480px) {
  .container {
    padding: 4px;
  }
}

#preset-cubes {
  margin-left: 4px;
}

/** Lobby **/

.lobby {
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.lobby-header {
  font-size: 40px;
  height: 40px;
}

.spacer-dot:after {
  content: "\00b7";
  display: inline-block;
  width: 0.75em;
  text-align: center;
}

.lobby .fieldset:not(:last-child) {
  margin-bottom: 30px;
}

/** Chat **/

.chat-container {
  height: 100%;
  position: relative;
  min-width: 25%;
  z-index: 100;
}

.chat-container-hidden {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.chat {
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 7px;
  top: 0;
  width: 25%;
  z-index: 0;
}

.messages {
  background-color: #fafafa;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.chat-input {
  margin-left: -1px;
  width: 100%;
}
/** Zones **/

.waiting {
  font-style: italic;
}

/** Misc **/

.name {
  color: #393;
}

.error {
  color: #E15252;
}

.success {
  color: green;
}

.zone {
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-top: solid #ccc 1px;
}

/** Players **/

.self {
  background-color: rgba(0, 255, 0, .1);
}

.opp {
  background-color: rgba(255, 0, 0, .1);
}

.icon-connected,
.icon-disconnected,
.icon-bot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border-style: solid black 1px;
}

.icon-connected {
  background-color: #3c3;
}

.icon-disconnected {
  background-color: #333;
}

.icon-bot {
  background-color: rgba(0, 0, 0, 0.25);
}

#players th,
#players td {
  padding-right: .5em;
}

.game {
  flex-grow: 1;
  max-width: 100%;
}

.game-controls {
  max-width: 100vw;
  overflow-x: auto;

  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game .fieldset {
  margin: 4px;
}

.game-legend {
  font-size: 15px;
  font-weight: normal;
}

.game-status {
  margin-right: 30px;
}

.land-suggest-button {
  width: 100%;
}


.start-controls,
.download-controls {
  margin-top: 5px;
  padding-top: 5px;
}

.download-controls {
  flex-direction: column;
  text-align: left;
}

.download-filename {
  width: 100px;
}

.copy-controls {
  margin-top: 3px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.split-card {
  transform: rotate(90deg);
  margin: -50px 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 10px;
  padding-top: 10px;
}
.hidden {
  display: none;
}

/* for elements that should be read by screen readers, but not seen on the page */
.vhidden {
  position: fixed;
  opacity: 0;
  left: -100px;
  top: -100px;
}

.column {
  display: flex;
  flex-direction: column;
}

.game-mode-description {
  border-left: 2px solid #bbb;
  margin-left: 0px;
  padding: 1px 1px 1px 10px;
  font-style: italic;
}

.filepond--credits {
  display: none;
}
