.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 680px;
  padding: 1em;
  border-style: solid;
  border-width: 4px;
  border-color: #089dff;
}

.loading_website {
  text-align: center;
}

.loading_img {
  width: 10%;
  float: left;
  padding: 0px 20px 0px 20px;
}

/*** Basic styles ***/

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fafafa;
  font-family: 'Helvetica', 'Arial';
  font-size: 16px;
}

h1 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: 'Montserrat', 'Arial', sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
}

label {
  cursor: pointer;
}

textarea {
  height: 16.5px;
  /* same as input[type=text] */
  vertical-align: top;
}

time {
  color: #999;
}

/** Fieldsets and forms **/

.fieldset {
  background-color: #eaeaea;
  border-radius: 3px;
  border: solid #ccc 1px;
  line-height: 20px;
  padding: 10px;
}

.legend {
  background-color: #FFFFFF;
  border: solid #ccc 1px;
  box-shadow: 0 1px 1px 0 #ccc;
  color: #089dff;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 3px 5px;
}

input[type=button],
.uploadFile,
input[type=button],
button,
input[type=text],
textarea,
select {
  font-size: 16px;
  line-height: 16px;
  padding: 3px;
}

input[type=button],
.uploadFile,
button,
input[type=text],
textarea {
  border: solid #d0d0d0 1px;
}

input[type=button],
.uploadFile,
button {
  background-color: #f0f0f0;
  padding: 5px;
}

input[type=button]:hover,
.uploadFile:hover,
button:hover,
input[type=text]:hover,
textarea:hover {
  border-color: #909090;
}

input[type=button]:active,
.uploadFile:active,
button:active {
  box-shadow: 0 0 1px 0 black inset;
}

input[type=button]:disabled,
.uploadFile:disabled,
button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

input[type=button]:disabled:hover,
.uploadFile:disabled:hover,
button:disabled:hover {
  border: solid #ccc 1px;
}

input[type=button]:disabled:active,
.uploadFile:disabled:active,
button:disabled:active {
  box-shadow: none;
}

.radio-label {
  display: inline-block;
  padding: 5px;
  background-color: #f0f0f0;
  border: solid #d0d0d0 1px;
}

.radio-label:hover {
  border-color: #909090;
}

.radio-label:active {
  box-shadow: 0 0 1px 0 black inset;
}

.number {
  width: 50px;
}

input[type="checkbox"], input[type="radio"] {
  margin-right: 5px;
  margin-left: 2px;
}

/** Container of inputs that share a border. **/

.connected-container,
.connected-column {
  position: relative;
  z-index: 0;
}

.connected-component {
  position: relative;
  z-index: 1;
}

.connected-container .connected-component:not(:first-child) {
  margin-left: -1px;
}

.connected-column .connected-component:not(:first-child) {
  margin-top: -1px;
}

.connected-component:hover {
  z-index: 2;
}

/*** Main page components ***/

.container {
  box-sizing: border-box;
  height: 100%;
  padding: 30px 0 30px 30px;
  display: flex;
  flex-direction: row;
}

#cube-list {
  display: flex;
  flex-direction: row;
}

#preset-cubes {
  margin-left: 4px;
}

/** Lobby **/

.lobby {
  flex-grow: 1;
  margin: 0 auto;
  padding-right: 30px;
}

.lobby-header {
  font-size: 40px;
  height: 40px;
}

.spacer-dot:after {
  content: "\00b7";
  display: inline-block;
  width: 0.75em;
  text-align: center;
}

.lobby .fieldset:not(:last-child) {
  margin-bottom: 30px;
}

/** Chat **/

.chat-container {
  height: 100%;
  position: relative;
  min-width: 25%;
  z-index: 100;
}

.chat-container-hidden {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  width: 0;
}

.chat {
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  right: 7px;
  top: 0;
  width: 25%;
  z-index: 0;
}

.messages {
  background-color: #fafafa;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: 5px;
}

.chat-input {
  margin-left: -1px;
  width: 100%;
}

/*** Join rooms ***/

.join-room-table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

.join-room-table th,
.join-room-table td {
  padding: 5px;
}

.join-room-table tbody tr {
  background-color: #f0f0f0;
  border: solid #d0d0d0 1px;
}

.join-room-link:after {
  content: '\00bb';
}

/** Zones **/

.zone img,
#img,
.card {
  height: 340px;
  width: 240px;
  cursor: pointer;
}

.col {
  float: left;
  width: 180px;
  padding: 1px;
}

.col img {
  height: 255px;
  width: 180px;
  margin-bottom: -235px;
}

.col div:last-child img {
  margin-bottom: 0;
}

.waiting {
  font-style: italic;
}

/** Card styles **/

.card {
  display: inline-flex;
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 1px;
}

.card-col {
  position: relative;
  margin: 0;
  cursor: pointer;
  padding: 1px;
}

.image-inner {
  width: inherit;
}

.card:hover:before,
.autopick-card:before {
  content: '';

  display: block;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(200, 200, 200, 0.25);
}

.foil-card:before {
  content: '';

  display: block;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(200, 200, 200, 0.25);
  background-image: url('media/foil.png');
  background-size: 240px 340px;
}

.autopick-card:after {
  content: 'Autopick';

  display: inline-block;
  position: absolute;

  /* Center in the middle of the bottom border on the card. */
  line-height: 25px;
  bottom: 5px;
  left: 0;
  right: 0;

  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 2px #000;
}

/** Misc **/

.icon {
  font-size: 32px;
  margin: 16px;
}

.name {
  color: #393;
}

.error {
  color: red;
}

.success {
  color: green;
}

.zone {
  clear: both;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  border-top: solid #ccc 1px;
}

/** Players **/

.self {
  background-color: rgba(0, 255, 0, .1);
}

#self-time-fixed {
  border: solid 1px black;
  position: fixed;
  font-size: 20px;
  padding: 4px;
  min-width: 85px;
  border-radius: 4px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.63);
  transition: left 0.5s;
  z-index: 99;
}

#self-time-fixed-time {
  margin-left: 39%;
  margin-top: 4px;
}

.opp {
  background-color: rgba(255, 0, 0, .1);
}

.icon-connected,
.icon-disconnected,
.icon-bot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  border-style: solid black 1px;
}

.icon-connected {
  background-color: #3c3;
}

.icon-disconnected {
  background-color: #333;
}

.icon-bot {
  background-color: rgba(0, 0, 0, 0.25);
}

#img,
#doubleimg {
  position: fixed;
  bottom: 0;
  z-index: 101;
}

#img.left,
#doubleimg.left {
  left: 0;
}

#img.right,
#doubleimg.right {
  right: 0;
}

#players th,
#players td {
  padding-right: .5em;
}

.game {
  flex-grow: 1;
  padding-right: 30px;
}

.game-controls {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

.game .fieldset {
  display: flex;
  margin: 4px;
}

.game-legend {
  font-size: 15px;
  font-weight: normal;
}

.game-status,
.deck-settings {
  margin-right: 30px;
}

.game-settings {
  flex-shrink: 0;
}

.deck-settings thead tr:first-of-type {
  text-align: center;
}

.land-suggest-button {
  width: 100%;
}

.deck-settings img {
  height: 32px;
  width: 32px;
}

.start-controls,
.download-controls {
  margin-top: 5px;
  padding-top: 5px;
}

.download-controls {
  flex-direction: column;
  text-align: left;
}

.download-filename {
  width: 100px;
}

.copy-controls {
  margin-top: 3px;
}

.settings-sort-cards {
  padding-top: 5px;
}

.settings-cards-size {
  padding-top: 5px;
}

.settings-cards-language {
  padding-top: 5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.split-card {
  transform: rotate(90deg);
  margin: -50px 50px;
}

.flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wrapper {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 10px;
  padding-top: 10px;
}
.hidden {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.game-mode-description {
  background: #ddd;
  border-left: 5px solid #bbb;
  padding: 1px 1px 1px 10px;
  font-style: italic;
}
