.Bases {
  --highlight: #3a87e5;
  legend {}

  .formats {
    display: flex;

    .format {
      background: #fff;
      padding: 3px 5px 0;
      border: 1px solid #d0d0d0;
      border-bottom: none;
      margin-right: 5px;
      cursor: pointer;

      &.json {
        opacity: 0;
        transition: opacity .5s ease-in;

        &:hover, &.-active { opacity: 1; }
      }

      &.-active {
        color: #fff;
        background: var(--highlight);
        border: 1px solid var(--highlight);
        border-bottom: none;
      }
    }
  }

  .exports {
    background: #f0f0f0;
    padding: 10px;
    border: 1px solid var(--highlight);

    display: grid;
    grid-gap: 10px;

    .download, .copy  {
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
      }
      button {
        // background: #fff;
        padding: 4px 8px;
      }
    }

    .download {
      input {
        width: 200px;
        height: 24px;
        font-size: 12px;
        font-family: monospace;
        border: 1px solid #d0d0d0;
        border-right: none;

        padding: 0 4px;
      }

      .extension {
        height: 24px;
        font-size: 12px;
        font-family: monospace;
        border: 1px solid #d0d0d0;
        border-left: none;

        display: flex;
        align-items: center;

        padding: 0 4px;
        margin-right: 10px;
      }
    }

    .copy {
    }
  }

  .Grid {
    > .cards {
      &.-Leader, &.-Base {
        grid-template-rows: repeat(auto-fill, calc(var(--card-width)/1.3));
        grid-template-columns: calc(var(--card-height)/1.3) calc(var(--card-height)/1.3) calc(var(--card-height)/1.3) calc(var(--card-height)/1.3);
      }
    }
  }
}
