.Cols {
  --card-width: 180px;
  --card-height: 255px;

  .col {
    float: left;
    width: var(--card-width);
    padding: 1px;

    .card-container {
      position: relative;
      cursor: pointer;

      padding: 1px;
      margin: 0;
      margin-bottom: calc(20px - var(--card-height));

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .CornerCardPreview {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 101;
    display: flex;

    --card-width: 240px;
    --card-height: 340px;
  }
}
