.Grid {
  --card-width: 240px;
  --card-height: 340px;

  h1 {}
  
  .cards {
    display: grid;
    grid-template-rows: repeat(auto-fill, var(--card-height));
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-gap: 2px;
  }

  h2 {}
}
