.Lobby {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 1270px;

  padding: 30px 0 30px 30px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  /* see Header.jsx */
  .lobby-header {
    font-size: 40px;
    height: 40px;
  }

  /* in most components in here */
  .fieldset:not(:last-child) {
    margin-bottom: 30px;
  }
}

