name: Automated tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: Run tests

    strategy:
      matrix:
        node_version:
          - 12
          - 14

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-node@v2.5.1
        with:
          node-version: ${{matrix.node_version}}

      - name: Install
        run: npm install

      - name: Test
        run: npm test


  docker:
    name: Test docker image

    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: docker build --tag dr4ft-app .

      - name: Run
        run: docker run -dp 1337:1337 dr4ft-app

      - name: Show info
        run: |
          docker --version
          echo
          docker ps -a
          echo
          docker images


  lint:
    name: Run ESLint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup
        uses: actions/setup-node@v2.5.1
        with:
          node-version: 12

      - name: Install
        run: npm install --ignore-scripts

      - name: Run ESLint
        run: npm run lint
