name: Automated tests

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  test:
    name: Run tests

    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 14
          - 16

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-node@v3.3.0
        with:
          node-version: ${{matrix.node_version}}

      # See https://github.com/npm/cli/issues/2610
      - name: Workaround for Node 14
        if: matrix.node_version == '14'
        run: sed -i 's/git+ssh/git+https/g' package-lock.json

      - name: Install
        run: npm ci

      - name: Test
        run: npm test


  docker:
    name: Test docker image

    runs-on: ubuntu-latest

    continue-on-error: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        run: docker build --tag dr4ft-app .

      - name: Run
        run: docker run -dp 1337:1337 dr4ft-app

      - name: Show info
        run: |
          docker --version
          echo
          docker ps -a
          echo
          docker images


  lint:
    name: Run ESLint

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-node@v3.3.0
        with:
          node-version: 16

      - name: Install
        run: npm ci --ignore-scripts

      - name: Run ESLint
        run: npm run lint
