.CardDefault {
  .-autopick {
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;

      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgba(200, 200, 200, 0.25);
      background-size: 240px 340px;
    }

    &:before {
      background-image: url('/media/picked.png');
    }

    &.-foil:after {
      background-image: url('/media/picked.png'),url('/media/foil.png');
    }
  }

  .-autoremovable-pick {
    &:before, &:after {
      content: '';

      display: block;
      position: absolute;

      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: rgba(200, 200, 200, 0.25);
      background-size: 240px 340px;
    }

    &:before {
      background-image: url('/media/picked.png'),url('/media/autoremove.png');
    }
    &.-foil:after {
      background-image: url('/media/autoremove.png'),url('/media/picked.png'),url('/media/foil.png');
    }
  }
}
