.CardBase {
  display: grid;
  position: relative;
  
  .CardBaseText, .CardBaseImage {
    grid-row: 1;
    grid-column: 1;
  }

  &.-flipped {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  &.-foil:before {
    content: '';

    display: block;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(50, 50, 50);
    background-image: url('/media/foil.png');
    background-size: var(--card-width) var(--card-height);

    background-blend-mode: overlay;
    mix-blend-mode: color-dodge;
  }
}

.CardBaseText {
  z-index: -1;
  // z-index needed otherwise CardBaseText overflow text appears on top of image in Chrome!

  width: calc(var(--card-width) - 10px);
  height: calc(var(--card-height) - 10px);
  // 10px = 2* (padding + border)

  background: #fff;
  font-size: 16px;
  padding: 4px;
  border: 1px solid #555;
  border-radius: 6px;

  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 6px;

  align-content: start;

  .header, .sub-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header, .sub-header, .body {
    padding: 0 4px;
  }

  .header {
    .name {
      color: #000;
      font-weight: bold;
    }
    .cost {}
  }

  .sub-header {
    background: #eee;
    border-radius: 4px;

    .type {}
    .rarity {
      color: #777;
    }
  }

  .body {
    font-size: 0.9rem;
    line-height: 1.2rem;

    .text {}
    overflow-y: auto;
  }

  .footer {
    display: grid;
    justify-content: end;

    .power-toughness, .loyalty {
      padding: 1px 4px;
      background: #eee;
      border: 1px solid #ddd;
      border-radius: 6px;
    }
  }
}

.CardBaseImage {
  width: var(--card-width);
  height: var(--card-height);

  img {
    width: var(--card-width);
    height: var(--card-height);
    max-width: var(--card-width);
    max-height: var(--card-height);
  }
}
