.CardDefault {
  position: relative;

  width: var(--card-width);
  height: var(--card-height);

  display: grid;

  .CardBase, .pick-state {
    grid-row: 1;
    grid-column: 1;
  }

  .CardBase {
  }
  
  .pick-state {
    justify-self: start;
    align-self: start;

    padding: 10px;
    margin: 12px;

    img {
      max-width: 30px;
      max-height: 30px;
      filter:
        drop-shadow(white 0 0 5px)
        drop-shadow(white 0 0 5px)
        drop-shadow(white 0 0 1px);
    }
  }
}
