.CardDefault {
  --pick-color: #2ba62b;

  position: relative;

  width: var(--card-width);
  height: var(--card-height);
  cursor: pointer;

  display: grid;

  &.-rotated {
    width: var(--card-height);
    height: var(--card-width);
  }

  &.-leader {
    height: auto;
  }
  &.-base {
    height: calc( var(--card-width) / 1.3);
  }

  .CardBase {
    grid-row: 1;
    grid-column: 1;

    .SelectionState {
      grid-row: 1;
      grid-column: 1;
    }
  }
}
