.SelectionState {
  &.-pick { --color: var(--pick-color); }
  &.-burn { --color: var(--burn-color); }

  justify-self: center;
  align-self: end;
  
  --border-width: 4px;
  
  width: calc(var(--card-width) - 2 * var(--border-width));
  height: calc(var(--card-height) - 2 * var(--border-width));

  border: var(--border-width) solid var(--color);
  border-radius: 6px;
  display: grid;
  justify-items: center;
  align-items: end;

  i {
    grid-row: 1;
    grid-column: 1;

    width: 20px;

    font-size: 20px;
    color: #fff;
    text-align: center;

    padding: 8px 8px 2px 8px;
    background: var(--color);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // margin-bottom: -10px;
  }
}
